@font-face {
    font-family: 'Beyonders';
    src: url('../fonts/Beyonders.ttf') format('truetype');
    /* Alternatif formatlar ekleyebilirsiniz */
    /* src: url('path/to/fonts/Beyonders.woff') format('woff'); */
    font-weight: normal;
    font-style: normal;
}
